# Rust binaries and build artifacts
/target/
**/*.rs.bk
main
checker
lambda_shield

# OS specific files
.DS_Store
Thumbs.db

# Executables
*.exe
*.so
*.dylib
*.dll

# Lambda Shield specific processed files
*.lambda
